/*Common*/
body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 96px;
    line-height: 105px;
    text-align: center;
    letter-spacing: 0.02em;
}

h2 {
    font-weight: 700;
    font-size: 59px;
    line-height: 124%; /* or 73px */
    text-align: center;
    color: #1B1F2B; /* Black */
}

h3 {
    font-weight: 500;
    font-size: 35px;
    line-height: 122%; /* or 43px */
}

.p-big {
    font-weight: 700;
    font-size: 23px;
    line-height: 122%;
}

.p-small {
    font-size: 17px;
    line-height: 142%;
    letter-spacing: -0.01em;
}

/*Container*/
.container {
    width: 100%;
    max-width: 1168px;
    margin: 0 auto;
}

/*Header*/
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 22px 0;
    background-color: rgba(243, 239, 232, 0.6);
}

.header__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    padding-top: 5px;
}

/*Nav*/
.nav {
    max-width: 468px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    text-decoration: none;
    color: #ffffff;
    position: relative;
    padding-right: 50px;
}

.nav__link:last-child {
    padding-right: 0;
}

.nav__link:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    margin: 5px 0;
    background-color: #ffffff;
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity .1s linear;
}

.nav__link:hover:after {
    opacity: 1;
}

/*Intro*/
.intro {
    width: 100%;
    position: relative;
    min-height: 831px;
    background: url("assets/images/intro_img.png") center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro__inner {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.intro__title {
    margin-top: 89px;
    margin-bottom: 50px;
}

.intro__text {
    max-width: 562px;
    text-align: center;
    margin-bottom: 50px;
}

.intro__button {
    padding: 5px 20px;
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    color: #1B1F2B;
}

/*Tours*/
.tours__inner {
    margin-top: 135px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.tours__title {
    margin-bottom: 35px;
}

.tours__menu {
    max-width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tours__link {
    padding-right: 30px;
    text-decoration: none;
    color: #1B1F2B;
}

.tours__link:last-child {
    padding-right: 0;
}

.tours__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    margin: 5px 0;
    background-color: #1B1F2B;
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity .1s linear;
}

.tours__link:hover:after {
    opacity: 1;
}

.active {
    color: #EFA501;
}

.active:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    margin: 5px 0;
    background-color: #EFA501;
    opacity: 1;
}

.tours__items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 94px;
}

.tours__item {
    flex-basis: 370px;
    height: 531px;
    border-radius: 50px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

.tours__item__title {
    margin-bottom: 16px;
    letter-spacing: 0.01em;
}

.tours__item-1 {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%,
    rgba(0, 0, 0, 0.5) 100%), url("assets/images/tour_images/card_tour_photo-1.png");
}

.tours__item-2 {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%,
    rgba(0, 0, 0, 0.5) 100%), url("assets/images/tour_images/card_tour_photo-2.png");
}

.tours__item-3 {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%,
    rgba(0, 0, 0, 0.5) 100%), url("assets/images/tour_images/card_tour_photo-3.png");
}

.tours__item-4 {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%,
    rgba(0, 0, 0, 0.5) 100%), url("assets/images/tour_images/card_tour_photo-4.png");
}

.tours__item-5 {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%,
    rgba(0, 0, 0, 0.5) 100%), url("assets/images/tour_images/card_tour_photo-5.png");
}

.tours__item-6 {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%,
    rgba(0, 0, 0, 0.5) 100%), url("assets/images/tour_images/card_tour_photo-6.png");
}

.tours__item__button {
    display: flex;
    justify-content: flex-start;
}

.tours__item__button-text {
    margin-right: 16px;
}
