/*Common*/
body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #ffffff;
    background: #F9F7F4;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin: 0;
}

.page {
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 96px;
    line-height: 105px;
    text-align: center;
    letter-spacing: 0.02em;
}

h2 {
    font-weight: 700;
    font-size: 59px;
    line-height: 124%; /* or 73px */
    text-align: center;
    color: #1B1F2B; /* Black */
}

h3 {
    font-weight: 500;
    font-size: 35px;
    line-height: 122%; /* or 43px */
}

.p-normal {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 142%;
}

.p-big {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 122%;
}

.p-small {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 17px;
    line-height: 142%;
    letter-spacing: -0.01em;
}

/*Container*/
.container {
    width: 100%;
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 20px;
}

.section-header {
    max-width: 750px;
    margin: 0 auto 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.section-header h2 {
    color: #1B1F2B;
    margin-bottom: 30px;
}

.section-header p {
    width: 100%;
    max-width: 418px;
    color: #A6A6A6;
    text-align: center;
}

/*Header*/
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 22px 0;
    /*background-color: rgba(243, 239, 232, 0.6);*/
}

.header__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    padding-top: 5px;
}

/*Nav*/
.nav {
    max-width: 468px;
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    text-decoration: none;
    color: #ffffff;
    padding-right: 50px;
}

.nav__link:last-child {
    padding-right: 0;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    margin: 5px 0;
    background-color: #ffffff;
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity .1s linear;
}

.nav__link:hover:after {
    opacity: 1;
}

/*Intro*/
.intro {
    width: 100%;
    position: relative;
    height: 831px;
    background: url("assets/images/intro_img.png") center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro__inner {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.intro__title {
    margin-top: 89px;
    margin-bottom: 50px;
}

.intro__text {
    max-width: 562px;
    text-align: center;
    margin-bottom: 50px;
}

.intro__button {
    padding: 5px 20px;
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    color: #1B1F2B;
}

@media screen and (min-width: 1024px) {
    .intro__button:hover {
        background-color: #EFA501;
        color: #FFFFFF;
    }

    .intro__button:active {
        background-color: #F8E6BE;
        color: #1B1F2B;
    }
}

/*Tours*/
.tours__inner {
    margin-top: 135px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.tours__title {
    margin-bottom: 35px;
}

.tours__menu {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tours__link {
    padding-right: 30px;
    text-decoration: none;
    color: #1B1F2B;
}

.tours__link:last-child {
    padding-right: 0;
}

.active {
    color: #EFA501;
}

@media screen and (min-width: 1024px) {
    .tours__link:after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        margin: 5px 0;
        background-color: #1B1F2B;
        top: 100%;
        left: 0;
        z-index: 1;
        opacity: 0;
        transition: opacity .1s linear;
    }

    .tours__link:hover:after {
        opacity: 1;
    }

    .active {
        color: #EFA501;
    }

    .active:after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        margin: 5px 0;
        background-color: #EFA501;
        opacity: 1;
    }
}

.tours__items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 94px;
}

.tours__item {
    width: 33%;
    max-width: 370px;
    height: 531px;
    border-radius: 50px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
    position: relative;
    cursor: pointer;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
    background-size: cover;
    transition: 0.3s ease all;
    overflow: hidden;
}

.tours__item__background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 50px;
    transition: 0.3s ease all;
}

.tours__item__title {
    width: 240px;
    margin-bottom: 16px;
    letter-spacing: 0.01em;
}

.tours__item__button {
    position: absolute;
    bottom: 43px;
    left: 30px;
    display: flex;
    justify-content: flex-start;
    background: transparent;
    border-radius: 50px;
    padding: 7px 20px;
    transition: background 0.3s ease;
}

@media screen and (min-width: 1024px) {
    .tours__item:hover .tours__item__background {
        transform: scale(1.2);
    }

    .tours__item__button:hover {
        background: #286562;
    }

    .tours__item__button:active {
        background: #EFA501;
    }
}

.tours__item__button-text {
    margin-right: 16px;
    text-decoration: none;
    color: #ffffff;
}

/*Form*/
.form {
    margin-top: 105px;
}

.form__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.form__body {
    width: 100%;
    border-radius: 50px;
    background: #ffffff;
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form__body__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32.5px;
}

.form__body__item {
    width: 49%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.form__body__label {
    color: #1B1F2B;
    display: block;
    margin-bottom: 8px;
}

.form__body__input {
    width: 100%;
    background: #F9F7F4;
    border: 1px solid #F4F0E9;
    border-radius: 10px;
    padding: 19px;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .form__body__input:hover {
        background: #F4F0E9;
    }

    .form__body__input:focus {
        outline: 1px solid #A6A6A6;
        background: #F4F0E9;
    }
}

.form__body__input::placeholder {
    color: #A6A6A6;
}

.form__body__item-button {
    position: absolute;
    right: 24px;
    bottom: 28px;
}

.form__body__comment {
    width: 100%;
}

.form__body__comment__textarea {
    width: 100%;
    min-height: 152px;
    resize: none;
    background: #F9F7F4;
    border: 1px solid #F4F0E9;
    border-radius: 10px;
    padding: 19px;
}

.form__body__radio {
    margin-top: -7px;
}

.form__body__radioBlock {
    display: flex;
    align-items: center;
}

.form__body__radioBlock-item {
    margin-left: 9px;
    margin-right: 29px;
}

.form__body__radioButton {
    opacity: 0;
    cursor: pointer;
    position: absolute;
}

.form__body__radioBlock-item .form__body__label {
    position: relative;
    padding-left: 30px;
    color: #A6A6A6;
}


.form__body__radioBlock-item .form__body__label:before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 0;
    transform: translate3d(-35%, -50%, 0);
    height: 26px;
    width: 26px;
    background-color: #FFFFFF;
    border: 1px solid #1B1F2B;
    border-radius: 50%;
}

.form__body__radioButton:checked + .form__body__radioBlock-item .form__body__label:before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #1B1F2B;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 50%;
}

.form__body__checkbox {
    margin-top: 27px;
    margin-left: -8px;
    display: flex;
}

.form__body__check {
    max-width: 0;
    min-height: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
}

.form__body__text {
    position: relative;
    padding-left: 45px;
    color: #A6A6A6;
}

.form__body__text:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 26px;
    width: 26px;
    color: #1B1F2B;
    background-color: #FFFFFF;
    border: 1px solid #000;
    border-radius: 5px;
}

.form__body__check:checked + .form__body__text:before {
    background: #FFFFFF url("./assets/icons/Rectangle 36 (Stroke).svg") no-repeat center center/17px 10px;
}

.form__body__text a {
    color: #1B1F2B;
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    .form__body__text a:hover {
        cursor: pointer;
        border-bottom: 2px solid #1B1F2B;
    }

    .form__body__text a:active {
        cursor: pointer;
        color: #286562;
        border-bottom: 2px solid #286562;
    }
}

.form__body__buttonBlock {
    margin-top: 33px;
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
}

.form__body__button {
    width: 100%;
    max-width: 235px;
    padding: 15px 70px;
    border: none;
    border-radius: 10px;
}

.findButton {
    color: #ffffff;
    background-color: #286562;
}

@media screen and (min-width: 1024px) {
    .findButton:hover {
        background-color: #3B7E7B;
    }

    .findButton:active {
        background-color: #627F7E;
    }

    .clearButton:hover {
        background-color: #F1F3F2;
    }

    .clearButton:active {
        background-color: #D9DFDB;
    }
}

.clearButton {
    color: #286562;
    background-color: #E0F0E5;
}

/*Clients*/
.clients {
    margin-top: 135px;
}

.clients__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.clients__body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.clients__feedback {
    width: 49%;
    max-width: 570px;
    background-color: #F4F0E9;
    border-radius: 50px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.clients__feedback__text {
    color: #1B1F2B;
}

.clients__feedback__footer {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.clients__feedback__data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.clients__name {
    color: #1B1F2B;
    margin-bottom: 8px;
}

.clients__tour {
    color: #A6A6A6;
}

.clients__image {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

/*Photos*/
.photos {
    margin-top: 135px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.photos__row {
    width: 100%;
    margin-bottom: 30px;
    height: 300px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.photos__row img {
    object-fit: cover;
    border-radius: 50px;
    margin-right: 29px;
}

.photos__row:last-child {
    margin-right: 0;
}

.photos__row-1 img {
    width: calc((100% - 3 * 30px) / 4);
}

.photos__row-2 img {
    width: calc((100% - 4 * 30px) / 5);
}

.photos__row-3 img {
    width: calc((100% - 3 * 30px) / 4);
}

/*Stories*/
.stories__inner {
    margin-top: 107px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.stories__item {
    width: 100%;
    height: 567px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    cursor: pointer;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);
    background-size: cover;
    transition: 0.3s ease all;
    overflow: hidden;
    border-radius: 50px;
    margin-bottom: 50px;
    padding: 60px;
}

.stories__item__background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 50px;
    transition: 0.3s ease all;
}

@media screen and (min-width: 1024px) {
    .stories__item:hover .stories__item__background {
        transform: scale(1.2);
    }
}


.stories__item__title {
    padding-bottom: 37px;
    letter-spacing: 0.005em;
}

.stories__item__text {
    max-width: 554px;
}

.stories__item__list {
    margin: 28px 0 0 -10px;
}

.stories__item__footer {
    position: absolute;
    bottom: 51px;
    left: 40px;
    right: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.stories__item__button {
    position: relative;
    background: transparent;
    border-radius: 50px;
    padding: 7px 20px;
    transition: background 0.3s ease;
}

@media screen and (min-width: 1024px) {
    .stories__item__button:hover {
        background: #286562;
    }

    .stories__item__button:active {
        background: #EFA501;
    }
}

.stories__item__button-text {
    margin-right: 12px;
    text-decoration: none;
    color: #ffffff;
}

.stories__item__social {
    margin-bottom: -3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.stories__link {
    text-decoration: none;
    color: #ffffff;
    padding-right: 35px;
}

.stories__link:last-child {
    padding-right: 0;
}

.stories__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    margin: 5px 0;
    background-color: #ffffff;
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity .1s linear;
}

@media screen and (min-width: 1024px) {
    .stories__link:hover:after {
        opacity: 1;
    }

    .stories__link:active {
        color: #EFA501;
    }

    .stories__link:active:after {
        opacity: 1;
        background-color: #EFA501;
    }
}

/*Offer*/
.offer {
    margin-top: 85px;
}

.offer__inner {
    margin: 0 auto;
    width: 100%;
    max-width: 771px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer__img {
    width: 370px;
    height: 370px;
    border-radius: 50px;
    margin-right: 30px;
}

.offer__textBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.offer__title {
    color: #1B1F2B;
    padding-bottom: 20px;
}

.offer__text {
    color: #A6A6A6;
}

.offer__text a {
    color: #1B1F2B;
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    .offer__text a:hover {
        cursor: pointer;
        border-bottom: 2px solid #1B1F2B;
    }

    .offer__text a:active {
        cursor: pointer;
        color: #286562;
        border-bottom: 2px solid #286562;
    }
}

/*Footer*/
footer {
    margin-top: 135px;
    background-color: #F4F0E9;
    padding: 30px 0;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__text {
    color: #A6A6A6;
}

.footer__linkBlock {
    width: 419px;
    display: flex;
    justify-content: space-between;
}

.footer__link {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.footer__link__icon-container {
    height: 26px;
    width: 26px;
    padding: 4px 4px;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.footer__link__name {
    color: #1B1F2B;
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    .footer__link__name:hover {
        cursor: pointer;
        border-bottom: 1px solid #1B1F2B;
    }
}


/*Media*/

@media screen and (max-width: 1440px) {

    /*Photos*/
    .photos__row-1 img:nth-child(2) {
        display: none;
    }

    .photos__row-2 img:nth-child(3) {
        display: none;
    }

    .photos__row-3 img:nth-child(4) {
        display: none;
    }

    .photos__row-1 img {
        width: calc((100% - 2 * 20px) / 3);
    }

    .photos__row-2 img {
        width: calc((100% - 3 * 20px) / 4);
    }

    .photos__row-3 img {
        width: calc((100% - 2 * 20px) / 3);
    }
}

@media screen and (max-width: 1024px) {
    /*Common*/
    .container {
        max-width: 958px;
    }

    /*Nav*/
    .header__inner {
        padding: 0 4px;
    }

    .nav__link {
        padding-right: 30px;
    }

    /*Intro*/
    .intro__text {
        max-width: 442px;
    }

    /*Tours*/
    .tours__item {
        width: 49%;
        max-width: 450px;
        margin-bottom: 18px;
    }

    .tours__item__background {
        height: auto;
        top: -50px;
    }

    .tours__item__title {
        width: 100%;
    }

    /*Form*/
    .form {
        margin-top: 117px;
    }

    .form__body {
        padding: 60px;
    }

    .form__body__text {
        position: relative;
        padding-left: 37px;
    }

    /*Photos*/
    .photos {
        padding: 0 20px;
    }

    .photos__row img {
        margin-right: 20px;
    }

    /*Stories*/
    .stories__item__background {
        width: auto;
    }
}

@media screen and (max-width: 980px) {

    /*Common*/
    h1 {
        font-size: 34px;
        line-height: 38px;
    }

    h2 {
        font-size: 34px;
        line-height: 38px;
    }

    h3 {
        font-weight: 700;
        font-size: 23px;
        line-height: 120%;
    }

    .p-normal {
        font-weight: 400;
        font-size: 16px;
        line-height: 142%;
    }

    .p-big {
        font-weight: 700;
        font-size: 16px;
        line-height: 142%;
    }

    .p-small {
        font-weight: 400;
        font-size: 16px;
        line-height: 142%;
    }

    .section-header h2 {
        margin-bottom: 20px;
    }

    .section-header{
        margin-bottom: 50px;
    }

    /*Nav*/
    .nav {
        display: none;
    }


    /*Tours*/
    .tours__items {
        max-width: 654px;
    }

    .tours__item {
        max-width: 318px;
        height: 318px;
        border-radius: 20px;
        padding: 25px;
    }

    .tours__item__background {
        border-radius: 20px;
        width: auto;
        top: -150px;
    }

    .tours__item__title {
        letter-spacing: 0.04em;
    }

    .tours__item__button {
        bottom: 20px;
        left: 5px;
    }

    .active:after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        margin: -1px;
        background-color: #EFA501;
        opacity: 1;
    }

    /*Form*/
    .form__body__radioBlock-item .form__body__label:before {
        transform: translate3d(-35%, -50%, 0);
        height: 20px;
        width: 20px;
    }

    .form__body__radioButton:checked + .form__body__radioBlock-item .form__body__label:before {
        width: 10px;
        height: 10px;
        top: 4px;
        left: 4px;
        border-radius: 50%;
    }

    .form__body__text:before {
        height: 20px;
        width: 20px;
        border-radius: 4px;
    }

    .form__body__check:checked + .form__body__text:before {
        background: #FFFFFF url("./assets/icons/Rectangle 36 (Stroke).svg") no-repeat center center/17px 10px;
    }

    /*Footer*/
    .footer__linkBlock {
        width: 314px;
    }

    .footer__link__icon-container {
        height: 22px;
        width: 22px;
        padding: 4px 4px;
        margin-right: 5px;
    }
}

@media screen and (max-width: 820px) {

    /*Tours*/
    .tours__menu {
        justify-content: center;
    }

    .tours__link {
        padding-right: 10px;
    }

    /*Photos*/
    .photos__row-1 img:nth-child(3) {
        display: none;
    }

    .photos__row-2 img:nth-child(2) {
        display: none;
    }

    .photos__row-3 img:nth-child(3) {
        display: none;
    }

    .photos__row-1 img {
        width: calc((100% - 1 * 20px) / 2);
    }

    .photos__row-2 img {
        width: calc((100% - 2 * 20px) / 3);
    }

    .photos__row-3 img {
        width: calc((100% - 1 * 20px) / 2);
    }

    /*Form*/
    .form__body {
        border-radius: 30px;
        padding: 30px;
    }

    .form__body__row {
        flex-direction: column;
        margin-bottom: 0;
    }

    .form__body__item {
        width: 100%;
        margin-bottom: 30px;
        max-width: none;
    }

    /*Clients*/
    .clients__body {
        flex-direction: column;
        align-items: center;
    }

    .clients__feedback {
        width: 100%;
        margin-bottom: 18px;
    }

    /*Stories*/
    .stories__item__social {
        display: none;
    }

    /*Offer*/
    .offer__inner {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .offer__img {
        margin-bottom: 30px;
        margin-right: 0;
    }

    .offer__textBlock {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .offer__title {
        text-align: center;
    }

    .offer__text {
        text-align: center;
    }

    /*Footer*/
    .footer__inner {
        flex-direction: column;
        align-items: center;
    }

    .footer__text {
        margin-bottom: 7px;
    }
}

@media screen and (max-width: 590px) {

    /*Header*/
    .header {
        position: absolute;
        padding: 27px 0;
    }

    .header__inner {
        padding: 0;
    }

    .header__logo img {
        width: 133px;
        height: auto;
    }

    /*Intro*/
    .intro {
        height: 488px;
    }

    .intro__title {
        margin-top: 89px;
        margin-bottom: 40px;
    }

    .intro__text {
        padding: 0 5px;
        margin-bottom: 40px;
    }

    /*Tours*/
    .tours__inner {
        margin-top: 76px;
    }

    .tours__title {
        letter-spacing: 0.02em;
        margin-bottom: 30px;
    }

    .tours__menu {

    }

    .tours__items {
        flex-direction: column;
        align-items: center;
    }

    .tours__item {
        width: 100%;
    }

    /*Form*/
    .form__body__button {
        width: 134px;
        height: 47px;
        padding: 12px 29.5px;
    }

    /*Photos*/
    .photos__row {
        height: 110px;
        margin-bottom: 18px;
    }

    .photos__row img {
        border-radius: 20px;
        margin-right: 10px;
    }

    .photos__row-1 img {
        margin-right: 18px;
    }

    .photos__row-1 img {
        width: calc((100% - 1 * 18px) / 2);
    }

    .photos__row-2 img {
        width: calc((100% - 2 * 10px) / 3);
    }

    .photos__row-3 img {
        width: calc((100% - 1 * 10px) / 2);
    }

    /*Stories*/
    .stories__item {
        height: 455px;
        padding: 30px 25px 30px 30px;
        border-radius: 20px;
    }

    .stories__item__background {
        border-radius: 20px;
    }

    .stories__item__title {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 360px) {

    /*Tours*/
    .tours__link{
        padding-bottom: 10px;
    }
    .tours__link:nth-child(3) {
        padding-right: 0;
    }

    .tours__items{
        margin-top: 40px;
    }

    /*Form*/
    .form{
        margin-top: 58px;
    }
    .form__title{
        letter-spacing: 0.02em;
        margin-bottom: 15px;
    }

    .form__body{
        padding: 20px;
    }

    .form .section-header{
        margin-bottom: 40px;
    }

    .form__body__row{
        margin-bottom: 0;
    }

    .form__body__input{
        padding: 9.5px;
    }

    .form__body__item-button{
        right: 15px;
        bottom: 18px;
    }

    .form__body__comment__textarea{
        min-height: 132px;
    }

    .form__body__radio {
        margin-top: 23px;
    }

    .form__body__radioBlock-item .form__body__label{
        padding-left: 22px;
    }

    .form__body__checkbox{
        margin-top: 22px;
        margin-left: -13px;
    }

    .form__body__text:before{
        top: 15%;
        left: 6px;
    }

    .form__body__buttonBlock{
        margin-bottom: 20px;
    }

    /*Clients*/
    .clients{
        margin-top: 75px;
    }

    .clients__title{
        letter-spacing: 0.02em;
    }

    .clients__feedback{
        padding: 20px;
        border-radius: 20px;
    }

    .clients__feedback__footer{
        margin-top: 43px;
        align-items: center;
    }

    .clients__feedback__data{
        padding-top: 15px;
    }

    .clients__name{
        margin-bottom:10px;
        letter-spacing: 0.05em;
    }

    /*Photos*/
    .photos{
        margin-top: 54px;
    }

    /*Stories*/
    .stories__inner{
        margin-top: 56px;
    }
}


